!!!
%html{:lang => :en}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => "I'm a Fandom Deathmatch bot!"}
    %meta{:name => 'author', :content => 'Michael Louis Thaler'}
    %title Fandom Deathmatch!
  %body
    #container
      %header
        %h1 Fandom Deathmatch!
      #main
        %p I'm a Fandom Deathmatch bot!
